*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
    font-family: Arial;
    font-size: 16px;
 }
 a{
    text-decoration: none;
    color: black;         
}
.container{
    /*ancho de la pantalla*/
    width: 90%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}
.title{
    font-size: 20px;
    font-weight: bold;
    background-color: #E9D4E1;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content:right;
    align-items: center;
    opacity: 0.9;
}
.title1{
    font-size: 20px;
    font-weight: bold;
    background-color: #E9D4E1;
    height: 60px;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content:left;  
    align-items: center; 
    opacity: 0.9;
}
